body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(21, 32, 21);
}

h1 {
	font-size: 15rem;
	font-family: Montserrat;
}

.letter {
	transition: color 1000ms;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 5rem;
	}
}
